.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.welcome h3 {
  font-size: 1.5rem;
}

select {
  border: none;
  outline: none;
  appearance: none;
  background-color: white;
}

.dropdown {
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  font-weight: lighter;
  display: flex;
  align-items: center;
  background-color: white;
}
